html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

body {
  min-width: 320px;
  position: relative;
  font-size: 16px;
  line-height: 1.63;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f6f4f1;
}

.container {
  max-width: 1020px;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.bg_main_home {
  background-image: url(../img/bg_main_home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_main_page {
  background-image: url(../img/bg_main_page.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_specialities {
  background-image: url(../img/bg_specialities.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  background-image: url(../img/bg_footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#krotov {
  background-color: #2c2b3b;
}

#main {
  padding: 94px 0 100px;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 700px;
}

#main-page {
  height: auto;
  min-height: 100px;
  position: relative;
  padding: 43px 0 78px;
}

#main-page .main-block {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  padding-top: 36px;
}

.section-block {
  margin: -30px 0;
  position: relative;
  z-index: 1;
}

.h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 56px;
  line-height: 56px;
  color: #393939;
  text-align: center;
}

.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  line-height: 36px;
  color: #393939;
  text-align: center;
}

.h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.08;
  letter-spacing: normal;
  color: #9f9f9f;
  text-align: center;
}

.h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  text-align: center;
  color: #393939;
  line-height: normal;
}

.h5 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #393939;
}

.btn {
  text-align: center;
}

.btn-more {
  font-weight: 600;
  text-align: center;
  color: #b19268;
  text-transform: uppercase;
  border-bottom: 1px solid #b19268;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-more:hover {
  border-bottom: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-menu {
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-menu:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #b19268;
  border-bottom: 1px solid #b19268;
}

.btn-book {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  min-width: 160px;
  height: 33px;
  color: #b19268;
  line-height: 33px;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #b19268;
  font-family: "Open Sans", sans-serif;
  margin-top: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

.btn-book:hover {
  background-color: #b19268;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

textarea,
input {
  height: 43px;
  width: 100%;
  line-height: 43px;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: solid 1px #9f9f9f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  margin: 7px 0;
  font-size: 16px;
  color: #9f9f9f;
  font-family: "Open Sans", sans-serif;
}

textarea {
  resize: none;
  margin-bottom: 0;
  height: 143px;
}

#table-form {
  position: fixed;
  top: 218px;
  right: 0;
  z-index: 10;
}

.table-form {
  width: 240px;
  text-align: center;
  padding: 26px 20px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.table-form .h2 {
  padding-bottom: 10px;
}

.table-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: -300px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.table-form-wrap.active {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  right: 0;
}

.table-form-close, .table-form-open {
  background-image: url("../img/icon-table.svg");
  background-color: #b19268;
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.table-form-close {
  background-image: url("../img/icon-close.svg");
  position: relative;
  z-index: 11;
}

.table-form-open {
  margin-bottom: 50px;
  margin-left: 280px;
}

form + span {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.58;
  color: #9f9f9f;
  display: inline-block;
  margin-top: 22px;
}

.main-block img, .main-down img {
  margin: 0 auto;
}

.main-down {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}

.main-down a {
  display: inline-block;
}

.main-block {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-block-descr {
  padding: 23px 35px 0;
}

.main-block-descr p {
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #9f9f9f;
}

.main-block-descr p.date {
  padding-bottom: 4px;
}

.main-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-block-2-wrap {
  padding: 15px;
}

.main-block-2-wrap p {
  line-height: 1.63;
  color: #9f9f9f;
  padding: 10px 0 4px;
}

.main-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-block-wrap .btn {
  padding-top: 30px;
}

.main-block-wrap .btn a {
  margin: 0;
}

.main-block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-block-2-sec {
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-block-2-sec img {
  max-width: 100%;
}

.main-block-flag {
  padding: 56px 0 50px;
}

.main-block-txt {
  width: 705px;
  margin: 0 auto;
  text-align: center;
}

.main-block-txt p {
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #ffffff;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-nav ul li {
  position: relative;
  padding: 0 2%;
}

.main-nav ul li:after {
  content: '';
  background-image: url("../img/icon-point-nav.svg");
  position: absolute;
  width: 5px;
  height: 5px;
  opacity: 0.4;
  top: 48%;
  right: -2%;
}

.main-nav ul li:last-child:after {
  display: none;
}

.main-nav ul li a {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-nav ul li a:hover {
  color: #b19268;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-block-1, .main-block-2, .main-contacts {
  background-color: #fff;
}

.main-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main-contacts-address {
  margin: 0 auto;
}

.main-contacts-block {
  padding: 20px 0;
}

.main-contacts-block form {
  width: 225px;
}

.main-contacts-block p {
  line-height: 1.63;
  letter-spacing: normal;
  color: #9f9f9f;
}

.main-contacts-block span {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #9f9f9f;
  display: inline-block;
  margin-top: 22px;
}

.main-contacts-block .h2 {
  padding-bottom: 20px;
}

#footer {
  padding: 100px 0 63px;
}

.title-block {
  padding: 160px 0;
  text-align: center;
  color: #fff;
}

.title-block .btn {
  padding-top: 29px;
}

.title-block .h1 {
  color: #fff;
  text-transform: uppercase;
}

.title-block a {
  font-weight: 600;
  color: #ffffff;
}

p.coast,
p.date {
  font-family: "Abril Fatface", cursive;
  font-size: 24px;
  text-align: center;
  color: #b19268;
  line-height: normal;
  padding: 0;
}

.krotov {
  padding: 8px 0;
}

.krotov p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.36;
  letter-spacing: normal;
  text-align: center;
  color: #999;
}

.krotov p a {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.krotov p a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.icon {
  margin: 0 13px;
}

.icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.copy {
  padding-top: 28px;
}

.copy p {
  color: #9f9f9f;
  text-align: center;
}

.page-content {
  background-color: #fff;
}

.bread {
  padding: 30px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bread .arrow {
  background-image: url(../img/icon-arrow-bread.svg);
  width: 6px;
  height: 17px;
  display: inline-block;
  margin: 0 17px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bread .custom-page {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #393939;
}

.bread a {
  background-image: url(../img/icon-home.svg);
  width: 20px;
  height: 18px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bread a:hover {
  background-image: url(../img/icon-home-hover.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.title-page {
  padding-bottom: 34px;
}

.title-page .h1 {
  text-transform: uppercase;
}

.event-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.event-block > div {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.event-block > div img {
  max-width: 100%;
}

.event-block .event-descr {
  padding-left: 50px;
  padding-right: 15px;
  text-align: left;
}

.event-block .event-descr p {
  color: #9f9f9f;
}

.event-block .event-descr p.date {
  text-align: left;
  color: #b19268;
  padding-bottom: 3px;
}

.event-block .event-descr .btn {
  text-align: left;
}

.event-block .event-descr .btn a {
  margin-top: 40px;
}

.about-us {
  padding: 40px 50px 45px;
}

.about-us p {
  font-size: 18px;
  line-height: 1.56;
  color: #9f9f9f;
  padding-bottom: 30px;
}

.about-us p:last-child {
  padding: 0;
}

.gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-content > div {
  width: 50%;
  text-align: center;
}

.gallery-album {
  position: relative;
}

.gallery-album img {
  max-width: 100%;
}

.gallery-album-descr {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery-album-descr a {
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-album-descr a:hover h3 {
  color: #b19268;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-album-descr a:hover p {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-album-descr a h3 {
  color: #ffffff;
  font-family: "Abril Fatface", cursive;
  line-height: normal;
  font-weight: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.gallery-album-descr a p {
  padding-top: 30px;
  color: #b19268;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.contacts-block {
  width: 30%;
  text-align: center;
  padding-bottom: 80px;
}

.contacts-block .h2 {
  padding-bottom: 20px;
}

.contacts-block p, .contacts-block a {
  line-height: 1.63;
  color: #9f9f9f;
}

.contacts-block a:hover {
  color: #b19268;
}

.contacts-block .subscribe-block {
  width: 225px;
  margin: 0 auto;
}

.error-content {
  padding-bottom: 100px;
}

.error-content .img-404 {
  padding: 40px 0 90px;
}

.error-content img {
  max-width: 100%;
  margin: 0 auto;
}

.error-content .h2 {
  max-width: 650px;
  margin: 0 auto;
}

.error-content .btn a {
  margin-top: 40px;
}

.menu-content-block {
  padding-bottom: 30px;
}

.menu-content-sector-name {
  padding-bottom: 30px;
}

.menu-content-sector-name .h3 {
  text-transform: uppercase;
}

.menu-content-block-name {
  padding-bottom: 4px;
}

.menu-content-block-name .h4 {
  text-align: left;
}

.menu-content-block-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-content-block-descr.add {
  padding-top: 3px;
}

.menu-content-block-descr.add p.name-menu {
  color: #393939;
  font-weight: bold;
}

.menu-content-block-descr.add p.coast {
  position: static;
  font-size: 20px;
}

.menu-content-block-descr p.coast {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #b19268;
  min-width: 70px;
  position: relative;
  top: -20px;
}

.menu-content-block-descr p.name-menu {
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #9f9f9f;
  max-width: 300px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
}

.menu-content-menu {
  width: 47%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-content-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
