@media screen and (max-width: 880px) {
  .contacts-block {
    width: 40%;
  }
  #main {
    padding: 50px 0 100px;
  }
  #table-form {
    position: absolute;
    top: 20px;
  }
  .btn-mobile-close,
  .btn-mobile {
    display: inline-block;
    cursor: pointer;
  }
  .main-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(44, 43, 59, 0.9);
    left: 0;
    top: 0;
    z-index: 20;
    overflow-y: scroll;
  }
  .main-nav nav {
    height: 100%;
    padding: 45px 15px;
  }
  .main-nav nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  .main-nav nav ul li:after {
    display: none;
  }
  .main-nav nav ul li a {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.94;
  }
  .menu-content-block-name {
    padding-bottom: 10px;
  }
  .menu-content-block-descr p.name-menu {
    font-size: 14px;
  }
  .menu-content-block-descr p.coast {
    font-size: 33px;
    min-width: 70px;
    width: 70px;
    position: relative;
    top: -17px;
  }
  .h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 46px;
    line-height: 46px;
  }
}

@media screen and (max-width: 820px) {
  .main-down {
    display: none;
  }
  .main-block-2 > div {
    width: 100%;
  }
  .main-block-2 > div.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .menu-content-menu-wrap,
  .wine-content-wine-wrap {
    padding: 0 15px;
    padding-bottom: 30px;
    padding-top: 26px;
  }
}

@media screen and (max-width: 750px) {
  .menu-content-block-descr.list li .names {
    width: 100px;
    min-width: 100px;
  }
  .main-block {
    width: 100%;
  }
  .main-block-txt {
    width: 100%;
  }
  .main-block-txt p {
    font-size: 30px;
  }
  .main-block-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-block-1.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 670px) {
  .event-block .event-descr .btn a {
    margin-top: 25px;
  }
  .event-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .event-block > div {
    width: 75%;
  }
  .wine-content-wine-block,
  .menu-content-menu {
    width: 100%;
  }
  .event-block .event-img {
    display: none;
  }
  .event-block .event-img-mob {
    display: block;
    padding-top: 13px;
  }
  .event-block .event-descr {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .contacts-block {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .gallery-album-descr a h3 {
    font-size: 20px;
  }
  .event-block > div {
    width: 85%;
  }
  .main-block {
    width: 100%;
  }
  .main-block img {
    max-width: 320px;
  }
  .title-block {
    padding: 100px 0;
  }
  .h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .h2 {
    font-size: 36px;
  }
  .main-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-contacts-map.bg-img {
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .main-block-2-wrap p {
    font-size: 18px;
  }
  .main-block-descr {
    padding: 23px 15px 0;
  }
  .main-block-txt {
    width: 320px;
  }
  .main-block-txt p {
    font-size: 24px;
  }
  .main-block-wrap {
    padding: 50px 15px;
  }
  .main-block-2-wrap {
    padding: 15px 40px;
  }
  .main-block-2-sec {
    width: 100%;
    min-height: 200px;
  }
  .main-block-2 > div.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-block-2 > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-block-2 > div.reverse-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .event-block > div {
    width: 90%;
  }
  .gallery-album-descr a h3 {
    font-size: 24px;
  }
  .gallery-content > div {
    width: 100%;
  }
  .about-us {
    padding: 30px 25px 35px;
  }
}
